.marker{
    width:40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.marker.selected{
    background-color: yellow;
    border-color: black;
}
.map{
    flex-grow: 1;
    height: 30vh;
    top: 0;
    position: sticky;
  }